@import 'module/module';


.site{
    font-family: 'Barlow Condensed', sans-serif;
    background: rgba(255, 255, 255, 1);
    background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)),url(../image/Drip\ Logo\ Pattern.jpg);
    background-size: 10%;
}